* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav {
  background-color: #e0a91d;
}

body, html {
	height: 100%;
}

.parallax {
	background-image: url("../img/homePic.jpg");
	height: 100%;
	padding: 10px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#Title {
  background:rgba(255,255,255,.6);
  min-height: 150px;
  width: 50%;
  margin: 70px auto 150px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px -1px 10px 5px #223458;
  overflow: auto;
}

hr {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-top: 10px solid rgba(0, 0, 0, 1);
}

#mug, #marDry, #marMoist, #cheese, #tir{
  min-height: 270px;
  width: 95%;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #662903;
  box-shadow: 0px -1px 10px 0.5px #662903;
  background-position: center;
  transition: all .2s ease-in-out; 
}

#mug:hover, #marDry:hover, #marMoist:hover, #cheese:hover, #tir:hover {
	box-shadow: 0px -1px 10px 5px #330e05;
  transform: scale(1.1); 
}



#mug {
	background: url('../img/mugPic.jpeg') no-repeat;
}

#marDry {
	background: url('../img/marb.jpeg') no-repeat;
}

#marMoist {
	background: url('../img/dMarb.jpg') no-repeat;
}

#cheese {
	background: url('../img/cheese.jpeg') no-repeat;
}

#tir {
	background: url('../img/tir.jpeg') no-repeat;
}



#mug span, #marDry span, #marMoist span, #cheese span, #tir span{
  float: right;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.footer {
	width: 100%;
	min-height: 5%;
	padding: 30px 50px 10px;
	margin: 50px auto 0px;
	background-color: #1f1f1f;
	color: #faf1de;
	page-break-after: always;
	border-radius: 5px;
	overflow: auto;
}

.foot {
	margin-top: 50px;
	margin-bottom: -50px;
	border: 5px solid;
}

#hours, #contact{
	font-size: 150%;
	margin-bottom: 125px;
	margin-left: auto;
	margin-right: auto;
}

#contact h3 {
	font-size: 80%;
}

#Note {
	font-size: 70%;
}



/********** Large devices only (xl & xxl) **********/
@media (min-width: 1200px) {
  #mug, #marDry, #marMoist, #cheese, #tir{
		width: 265px;
  	background-size: 265px 275px;
	}
	#tir {
	width: 350px;
	background-size: 350px 275px;
	}
	.parallax {
 	height: 900px;
 }
 .footer {
 	width: 90%;
 }
}

/********** Medium devices only (lg) **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #mug, #marDry, #marMoist, #cheese, #tir{
		min-height: 250px;
		width: 285px;
  	background-size: 285px 250px;
	}
	#cheese {
	width: 320px;
  	background-size: 320px 290px;
	}
	#tir {
	width: 320px;
  	background-size: 320px 250px;
	}
	 .parallax {
 	height: 860px;
 }
 .footer {
 	width: 90%;
 }
 #hours, #contact{
	font-size: 110%;
	margin-bottom: 110px;
 }
}

/********** Medium devices only (md) **********/
@media (min-width: 768px) and (max-width: 991px) {
  #mug, #marDry, #marMoist, #cheese, #tir{
		min-height: 200px;
		width: 228px;
  	background-size: 228px 200px;
	}
	#cheese {
		min-height: 220px;
	width: 270px;
  	background-size: 270px 250px;
	}
	#tir {
		min-height: 220px;
	width: 270px;
  	background-size: 270px 220px;
	}
	 .parallax {
 	height: 880px;
 }
 .footer {
 	width: 90%;
 }
 #hours, #contact{
	font-size: 110%;
	margin-bottom: 110px;
 }
}


/********** Small devices only (sm) **********/
@media (min-width: 576px) and (max-width: 767px) {
	#mug, #marDry, #marMoist, #cheese, #tir{
  	background-size: 100% 270px;
	}
	#tir {
		min-height: 270px;
	width: 330px;
  	background-size: 330px 270px;
	}
	.parallax {
 	height: 1000px;
 }
 #hours, #contact{
	font-size: 110%;
	margin-bottom: 110px;
 }
 .footer {
 	width: 90%;
 }
}

/********** Extra small devices only (xs) **********/
@media (min-width: 401px) and (max-width: 575px) {
 #mug, #marDry, #marMoist, #cheese, #tir{
 	width: 320px;
  	background-size: 320px 270px;
	}
	#contact {
 	margin-bottom: 100px;
 }
 .parallax {
 	height: 1450px;
 }

}

@media (min-width: 301px) and (max-width: 400px) {
 #mug, #marDry, #marMoist, #cheese, #tir{
  	background-size: 100% 270px;
	}
  #contact {
 	margin-bottom: 100px;
 }
 .parallax {
 	height: 1450px;
 }
 .footer {
 	height: 35%;
 }
}

@media (max-width: 300px) {
	#mug, #marDry, #marMoist, #cheese, #tir{
  	background-size: 100% 270px;
	}
  #contact {
  margin-bottom: 100px;
 }
 .parallax {
  height: 1500px;
 }
 .footer {
  height: 35%;
 
}




