* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav {
  background-color: #e0a91d;
}
body, html {
	height: 100%;
}

.parallax {
	background-image: url("../img/homePic.jpg");
	height: 100%;
	padding: 10px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#Title {
  background:rgba(255,255,255,.6);
  min-height: 150px;
  width: 50%;
  margin: 70px auto 150px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px -1px 10px 5px #223458;
  overflow: auto;
}

#Title hr {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-top: 10px solid rgba(0, 0, 0, 1);
}


#Intro {
  background:rgba(163, 21, 8,.9);
  min-height: 170px;
  width: 80%;
  margin: 70px auto 150px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px -1px 10px 5px #de7412;
  font-size: 1.5vw;
  overflow: auto;
  color: #301b03;
}


#cake, #cook {
  min-height: 270px;
  margin: 50px auto ;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #662903;
  box-shadow: 0px -1px 10px 0.5px #662903;
  background-position: center;
  transition: all .2s ease-in-out; 
  background-size: 100%;
}

#cake {
	background: url('../img/mugPic.jpeg') no-repeat;
}

#cook {
	background: url('../img/cB.jpeg') no-repeat;
}

#cake:hover, #cook:hover{
  box-shadow: 0px -1px 10px 5px #330e05;
  transform: scale(1.1); 
}

#cake span, #cook span{
  float: right;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.footer {
	width: 100%;
	min-height: 5%;
	padding: 30px 50px 10px;
	margin: 50px auto 0px;
	background-color: #1f1f1f;
	color: #faf1de;
	page-break-after: always;
	border-radius: 5px;
	overflow: auto;
}

.foot {
	margin-top: 50px;
	margin-bottom: -50px;
	border: 5px solid;
}

#hours, #contact{
	font-size: 150%;
	margin-bottom: 125px;
	margin-left: auto;
	margin-right: auto;
}

#contact h3 {
	font-size: 80%;
}

#Note {
	font-size: 70%;
}

/********** Large devices only (xl & xxl) **********/
@media (min-width: 1200px) {
  .parallax {
 	height: 900px;
 }
 .footer {
 	width: 95%;
 }
 #Intro {
 	font-size: 145%;
 }
 #cake, #cook {
 	margin-top: 0px;
 	min-height: 350px;
 	width: 400px;
 	background-size: 400px 350px;
 }
}
/********** Medium devices only (lg) **********/
@media (min-width: 992px) and (max-width: 1199px) {
.parallax {
  height: 860px;
 }
 #hours, #contact{
  font-size: 135%;
  margin-bottom: 110px;
 }
 #Intro {
  font-size: 140%;
 }
 #cake, #cook {
  margin-top: 0px;
  min-height: 310px;
  width: 360px;
  background-size: 360px 310px;
 }
}
/********** Medium devices only (md) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .parallax {
 	height: 880px;
 }
 #hours, #contact{
	font-size: 135%;
	margin-bottom: 110px;
 }
 #Intro {
 	font-size: 140%;
 }
 #cake, #cook {
 	margin-top: 0px;
 	min-height: 250px;
 	width: 290px;
 	background-size: 290px 250px;
 }
}

/********** Small devices only (sm) **********/
@media (min-width: 576px) and (max-width: 767px) {
.parallax {
 	height: 890px;
 }
 #hours, #contact{
	font-size: 125%;
	margin-bottom: 110px;
 }
 #Intro {
 	font-size: 130%;
 }
 #cake, #cook {
 	margin-top: 0px;
 	min-height: 220px;
 	width: 260px;
 	background-size: 260px 220px;
 }
}

/********** Extra small devices only (xs) **********/
@media (min-width: 401px) and (max-width: 575px) {
 #contact {
 	margin-bottom: 100px;
 }
 .parallax {
 	height: 1450px;
 }
 #Intro {
 	font-size: 130%;
 }
 #tiles {
 	font-size: 90%;
 }
 #cake, #cook {
  width: 335px;
  background-size: 350px 300px;
 }
}

@media (min-width: 301px) and (max-width: 400px) {
 #contact {
 	margin-bottom: 100px;
 }
 .parallax {
 	height: 1450px;
 }
 .footer {
 	height: 35%;
 }
 #Intro {
 	font-size: 130%;
 }
 #cook, #cake{
 	font-size: 90%;
  background-size: 100% 100%;
 }
}

@media (max-width: 300px) {
  #contact {
  margin-bottom: 100px;
 }
 .parallax {
  height: 1600px;
 }
 .footer {
  height: 35%;
 }
 #Intro {
  font-size: 130%;
 }
 #tiles {
  font-size: 90%;
 }
}