* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav {
  background-color: #e0a91d;
}

body, html {
	height: 100%;
}

.parallax {
	background-image: url("../img/homePic.jpg");
	height: 100%;
	padding: 10px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#Title {
  background:rgba(255,255,255,.6);
  min-height: 100px;
  width: 30%;
  margin: 70px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px -1px 10px 5px #223458;
  overflow: auto;
}

#desB, #orderF {
	background:rgba(255,255,255,.8);
	min-height: 270px;
	max-width: 40%;
  margin: 170px auto;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #662903;
  box-shadow: 0px -1px 10px 0.5px #662903;
  background-position: center;
  text-align: center;
}
#price, #des {
	margin-top: 10px;
}
#orderF {
	width: 40%;
}
#orderF form{
	display: inline-block;
	margin-top: 50px;
}

.footer {
	width: 100%;
	min-height: 5%;
	padding: 30px 50px 10px;
	margin: 50px auto 0px;
	background-color: #1f1f1f;
	color: #faf1de;
	page-break-after: always;
	border-radius: 5px;
	overflow: auto;
}

.foot {
	margin-top: 50px;
	margin-bottom: -50px;
	border: 5px solid;
}

#hours, #contact{
	font-size: 150%;
	margin-bottom: 125px;
	margin-left: auto;
	margin-right: auto;
}

#contact h3 {
	font-size: 80%;
}

#Note {
	font-size: 70%;
}



/********** Large devices only (xl & xxl) **********/
@media (min-width: 1200px) {
  #Title h1 {
	font-size: 200%;
}
	.parallax {
 	height: 900px;
 }
 .footer {
 	width: 90%;
 }
}

/********** Medium devices only (md & lg) **********/
@media (min-width: 768px) and (max-width: 1199px) {
  #Title h1 {
	font-size: 180%;
}
#orderF {
  	width: 40%;
  }
  #desB {
  	font-size: 95%;
  }
.parallax {
 	height: 860px;
 }
 .footer {
 	width: 90%;
 }
 #hours, #contact{
	font-size: 110%;
	margin-bottom: 110px;
 }
}

/********** Small devices only (sm) **********/
@media (min-width: 576px) and (max-width: 767px) {
	#desB {
  	font-size: 73%;
  }
#Title h1 {
	font-size: 175%;
}
	.parallax {
 	height: 880px;
 }
 #hours, #contact{
	font-size: 110%;
	margin-bottom: 110px;
 }
 .footer {
 	width: 90%;
 }
}

/********** Extra small devices only (xs) **********/
@media (min-width: 401px) and (max-width: 575px) {
 #Title h1 {
	font-size: 160%;
}
#desB {
  	font-size: 73%;
  }
	#contact {
 	margin-bottom: 100px;
 }
 .parallax {
 	height: 100%;
 }

}

@media (min-width: 301px) and (max-width: 400px) {
 #desB {
  	font-size: 60%;
  }
  #contact {
 	margin-bottom: 100px;
 }
 .parallax {
 	height: 1450px;
 }
 .footer {
 	height: 35%;
 }
}

@media (max-width: 300px) {
  #desB {
  	font-size: 60%;
  }
  #contact {
  margin-bottom: 100px;
 }
 .parallax {
  height: 1600px;
 }
 .footer {
  height: 35%;
 }
}



